/* Global rules */
* {
    box-sizing: border-box;
}

:root {
    --mainColor: #2196f3;
    --mainColorAlt: #1787e0;
    --trns: 0.3s;
}

html {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Global rules */
/* Header Start */
header {
    box-shadow: 0 0 10px #ddd;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    header .container {
        height: 100px;
    }

}

header .container .logo {
    color: var(--mainColor);
    font-weight: bolder;
    font-size: 28px;
}

@media (max-width:767px) {
    header .container .logo {
        width: 100%;
        text-align: center;
    }
}

header .container>ul>li>a {
    color: inherit;
    cursor: inherit;
}

header .container>ul {
    display: flex;
    height: 100%;
    align-items: center;
}

@media (max-width:767px) {
    header .container ul.nav {
        margin: -5px auto;
    }

}

header .container>ul li {
    padding: 0 20px;
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
    cursor: default;
    transition: var(--trns);
}

@media (max-width:767px) {
    header .container>ul>li {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

}

header .container>ul li:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
    left: -100%;
    transition: inherit;
}

header .container>ul li:hover {
    background-color: #fafafa;
    color: var(--mainColor);
}

header .container>ul li:hover::before {
    left: 0;
}

/* Header Start */
/* Landing Start */
.landing {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 72px);
}
@media (max-width:767px) {
    .landing{
        height: calc(100vh - 100px);
    }
    
}
.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}
@media (max-width:1199px){
    .landing .container{
        justify-content: center;
    }
}

.landing .container .text {
    max-width: 700px;
}
@media (max-width:1199px){
    .landing .container .text{
        text-align: center;
    }
}
.landing .container .text h1 {
    margin: 0;
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width:767px) {
    .landing .container .text h1{
        font-size: 30px;
    }
    
}

.landing .container .text p {
    color: #666;
    font-size: 23px;
    line-height: 1.7;
}

.landing .container img {
    width: 400px;
    animation: image 1.5s alternate infinite linear;
}

@keyframes image {
    to {
        transform: translateY(-35px);
    }
}
@media (max-width:767px) {
    .landing .container img{
        display: none;
    }    
}
.landing a i {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mainColor);
    font-size: 40px;
    font-weight: bold;
    transition: var(--trns);
    animation: down 0.75s alternate infinite linear;
}

.landing i:hover {
    color: var(--mainColorAlt);
}


@keyframes down {
    25% {
        transform: translateY(-15px) translateX(-50%);
    }

    50% {
        transform: translateY(0) translateX(-50%);
    }
}

/* Landing End */