/* Global rules */
* {
    box-sizing: border-box;
}

:root {
    --mainColor: #2196f3;
    --mainColorAlt: #1787e0;
    --trns: 0.3s;
    --pcolor: #777777;
}

html {
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body>div {
    padding: 60px 0;
}

body>div:nth-child(even) {
    background-color: #ececec;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Global rules */
/* Header Start */
header {
    box-shadow: 0 0 10px #ddd;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width:767px) {
    header .container {
        height: 100px;
    }

}

header .container .logo {
    color: var(--mainColor);
    font-weight: bolder;
    font-size: 28px;
}

@media (max-width:767px) {
    header .container .logo {
        width: 100%;
        text-align: center;
    }
}

header .container>ul>li>a {
    color: inherit;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

header .container>ul {
    display: flex;
    height: 100%;
    align-items: center;
}

@media (max-width:767px) {
    header .container ul.nav {
        margin: -5px auto;
    }

}

header .container>ul>li {
    padding: 0 20px;
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition: var(--trns);
}

@media (max-width:767px) {
    header .container>ul>li {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

}

header .container>ul>li:before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
    left: -100%;
    transition: inherit;
}

header .container>ul>li:hover {
    background-color: #fafafa;
    color: var(--mainColor);
}

header .container>ul>li:hover::before {
    left: 0;
}

/* Header End */
/* Landing Start */
.landing {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 72px);
    background-color: white !important;
    z-index: 0;
}

@media (max-width:767px) {
    .landing {
        height: calc(100vh - 100px);
    }

}

.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
    top: -40px;
    z-index: -1;
}

.landing .container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

@media (max-width:1199px) {
    .landing .container {
        justify-content: center;
    }
}

@media (max-width:767px) {
    .landing .container {
        align-items: center;
    }
}

.landing .container .text {
    max-width: 700px;
}

@media (max-width:1199px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h1 {
    margin: 0;
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: -2px;
}

@media (max-width:767px) {
    .landing .container .text h1 {
        font-size: 30px;
    }

}

.landing .container .text p {
    color: #666;
    font-size: 23px;
    line-height: 1.7;
}

.landing .container img {
    width: 400px;
    animation: image 1.5s alternate infinite linear;
}

@keyframes image {
    to {
        transform: translateY(-35px);
    }
}

@media (max-width:767px) {
    .landing .container img {
        display: none;
    }
}

.landing a i {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mainColor);
    font-size: 40px;
    font-weight: bold;
    transition: var(--trns);
    animation: down 0.75s alternate infinite linear;
}

.landing i:hover {
    color: var(--mainColorAlt);
}


@keyframes down {
    25% {
        transform: translateY(-15px) translateX(-50%);
    }

    50% {
        transform: translateY(0) translateX(-50%);
    }
}

/* Landing End */
/* Megamenu Start */
header .container .megamenu {
    position: absolute;
    top: calc(100% + 50px);
    opacity: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding: 20px;
    border-bottom: 3px solid var(--mainColor);
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: 0px 0px 15px 15px;
    transition: var(--trns);
    display: none;
}

@media (max-width:767px) {
    header .container .megamenu {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}

header .container .megamenu:hover {
    display: flex;
    animation: megamenu 0.3s forwards;
}

header .container ul.nav li:hover+div {
    display: flex;
    animation: megamenu 0.3s forwards;
}

@keyframes megamenu {
    100% {
        display: flex;
        opacity: 100%;
        top: 100%;
    }
}

header .container .megamenu ul li {
    position: relative;
    overflow: hidden;
}

header .container .megamenu ul li a {
    display: block;
    padding: 20px;
    color: var(--mainColor);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
}

header .container .megamenu ul li i {
    margin-right: 10px;
}

header .container .megamenu ul li:not(:last-child) {
    border-bottom: 1px solid #ececec;
}

@media (max-width:767px) {
    header .container .megamenu ul li {
        border-bottom: 1px solid #ececec;
    }

    header .container .megamenu ul {
        width: 100%;
    }
}

header .container .megamenu ul li:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: -1;
    transition: var(--trns);
}

header .container .megamenu ul li:hover:before {
    transform: translateX(0);
}

header .container .megamenu img {
    height: 250px;
}

@media (max-width:991px) {
    header .container .megamenu img {
        display: none;
    }
}

@media (max-width:1199px) {
    header .container .megamenu img {
        height: 200px;
    }
}

/* Megamenu End*/
/* Main tilte Start */
h2.maintitle {
    width: fit-content;
    margin: 10px auto;
    font-size: 40px;
    border: 3px solid black;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    transition: var(--trns);
    margin-bottom: 100px;
    z-index: 1;
}

h2.maintitle::before,
h2.maintitle::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--mainColor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

h2.maintitle:hover {
    color: white;
    border-color: white;
    transition-delay: var(--trns);
}

h2.maintitle::before {
    left: -30px;
}

h2.maintitle:hover::before {
    animation: left var(--trns) linear 1 normal forwards;
}

h2.maintitle:hover::after {
    animation: right var(--trns) linear 1 normal forwards;
}

h2.maintitle::after {
    right: -30px;
}

@keyframes left {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right {
    50% {
        right: 0;
    }

    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}

/* Main tilte End */
/* Articles Start */
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 15px #0000001a;
    transition: var(--trns);
}

.articles .container .box h3 {
    text-transform: capitalize;
    margin: 0;
}

.articles .container .box:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 15px #00000033;

}

.articles .container .box img {
    width: 100%;
}

.articles .container .box .content {
    padding: 15px;
}

.articles .container .box .content p {
    color: var(--pcolor);
}

.articles .container .box .more {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: var(--mainColor);
    border-top: 1px solid #e6e6e7;
}

.articles .container .box .more a {
    color: var(--mainColor);
    text-transform: capitalize;
}

.articles .container .box:hover .more i {
    animation: arrow calc(var(--trns) * 2) linear infinite normal;
}

@keyframes arrow {
    100% {
        transform: translateX(10px);
    }
}

/* Articles End */
/* Gallery Start */
.spikes {
    /*Spikes border top*/
    --mask:
        linear-gradient(#000 0 0) bottom/100% calc(100% - 30px) no-repeat,
        conic-gradient(from 135deg at top, #0000, #000 1deg 89deg, #0000 90deg) top/60.00px 30px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    overflow: hidden;
    border: 10px solid white;
    background-color: white;
    position: relative;
}

.gallery .container .box .image::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    background-color: #ffffff33;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.gallery .container .box:hover .image::before {
    animation: flash var(--trns);
}

@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container .box .image img {
    width: 100%;
    transition: var(--trns);
}

.gallery .container .box:hover .image img {
    transform: scale(1.1) rotate(5deg);
}

/* Gallery End */
/* Features Start */
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    border: 1px solid #ccc;
}

.features .container .box:first-child {
    --theme: #F44036;
}

.features .container .box:nth-child(2) {
    --theme: #009688;
}

.features .container .box:last-child {
    --theme: #03a9f4;
}

.features .container .box .img {
    position: relative;
    overflow: hidden;
}

.features .container .box .img::before {
    content: '';
    width: 100%;
    height: 100%;
    top: -1px;
    left: 0;
    position: absolute;
    background-color: var(--theme);
    opacity: 0.3;
}

.features .container .box .img::after {
    content: '';
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 170px 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--trns);
}

.features .container .box:hover .img::after {
    border-width: 0px 500px 170px 0px;
}

.features .container .box .img img {
    width: 100%;
    /* z-index: -1; */
}

.features .container .box h2 {
    text-align: center;
    width: fit-content;
    margin: -10px auto 0;
    font-size: 40px;
    position: relative;
}

.features .container .box h2::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 70%;
    background-color: var(--theme);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.features .container .box p {
    padding: 15px;
    text-align: center;
    color: var(--pcolor);
    line-height: 2;
}

.features .container .box a {
    display: block;
    text-align: center;
    margin: 50px auto;
    padding: 10px 30px;
    border-radius: 5px;
    color: var(--theme);
    border: 3px solid var(--theme);
    width: fit-content;
    font-size: 25px;
    position: relative;
    background: linear-gradient(to right, var(--theme) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--trns);
}

.features .container .box:hover a {
    background-position: left bottom;
    color: white;
}
/* Features End */
/* Testimonials Start */
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}
.testimonials .container .box{
    position: relative;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px #00000012;
    border-radius: 10px;
}
.testimonials .container .box img{
    border-radius: 50%;
    width: 110px;
    border: 10px solid #ececec;
    position: absolute;
    right: -10px;
    top: -35px;
}
.testimonials .container .box h3{
    margin: 0 0 10px;
}
.testimonials .container .box span{
    display: block;
    color: var(--pcolor);
    margin: 0 0 10px;
}
.testimonials .container .box .rating .fas{
    color: #ffc107;
}
.testimonials .container .box p{
    color: var(--pcolor);
    line-height: 1.5;
    margin: 10px 0;
}
/* Testimonials End */